body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/seoul-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 286px 100px;
}

header h1 {
  font-weight: 700;
  font-size: 94px;
  line-height: 144px;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  margin: 0 0 32px 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  color: #272044;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  padding: 16px 32px;
}

@media (max-width: 860px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 13px;
  }
}
